.about{
    background: #d74680;
    height: 895px;
    @media (max-width: 1060px){
        height: 840px;
    }
    @media (max-width: 990px){
        height: 810px;
    }
    @media (max-width: 850px){
        height: 1150px;
    }
    @media (max-width: 500px){
        height: 1490px;
    }
    &__container{
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
    }
    &__header{
        display: flex;
        flex-flow: column nowrap;
    }
    &__title{
        margin: 0 auto;
        padding: 106px 20px 0;
		letter-spacing: 4px;
        text-align: center;
        @media (max-width: 380px){
            padding: 80px 20px 0;
        }
    }
    &__separator{
        margin: 5px auto 18px;   
    }
    &__subtitle{
        padding: 0 20px;
        margin: 0 auto;
		text-align: center;
		letter-spacing: 0.4px;
    }
    &__card{
        margin-top: 65px;
        @media (max-width: 1060px){
            padding: 0 20px;
        }
    }
}

.card{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @media (max-width: 850px){
        flex-flow: column nowrap;
        align-items: center;
    }
    &__part{
        margin: 0;
    } 
}

.part{
    width: 510px;
    display: flex;
    flex-flow: row nowrap;
    @media (max-width: 1060px){
        width: 465px;
    }
    @media (max-width: 990px){
        width: 405px;
    }
    @media (max-width: 500px){
        flex-flow: column nowrap;
        align-items: center;
        width: 260px;
    }
    &_1{
        margin-bottom: 142px;
        @media (max-width: 850px){
            margin-bottom: 70px;
        }
    }
    &_2{
        margin-bottom: 142px;
        @media (max-width: 850px){
            margin-bottom: 70px;
        }
    }
    &_3{
        @media (max-width: 850px){
            margin-bottom: 70px;
        }
    }
    &_4{
        
    }
    &__avatar{
        display: flex;
        align-items: flex-start;
        img{
            width: 96px;
            height: 96px;
            border-radius: 50%;
        }
        @media (max-width: 500px){
            margin-bottom: 16px;
        }
    }
    &__description{
        margin-left: 53px;
    }
}

.description{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    @media (max-width: 990px){
        margin-left: 20px;
    }
    @media (max-width: 500px){
        margin-left: 0;
        align-items: center;
    }
    &_1{
        
    }
    &_2{
        margin-left: 48px;
        @media (max-width: 990px){
            margin-left: 20px;
        }
        @media (max-width: 500px){
            margin-left: 0;
            align-items: center;
        }
    }
    &_3{
        
    }
    &_4{
        margin-left: 48px;
        @media (max-width: 990px){
            margin-left: 20px;
        }
        @media (max-width: 500px){
            margin-left: 0;
            align-items: center;
        }
    }
    &__wording{
        margin-top: 4px;
        pre{
            font-style: italic;
            font-size: 21px;
            color: #ffffff;
            letter-spacing: 0.65px;
            line-height: 1.5;
            @media (max-width: 1060px){
                font-size: 18px;
            }
            @media (max-width: 990px){
                font-size: 16px;
            }
            @media (max-width: 500px){
                font-size: 14px;
            }
        }
    }
    &__author{
        margin: 16px 0 -4px;
        font-weight: 700;
        font-size: 24px;
        color: #ffffff;
        letter-spacing: 0.35px;
        @media (max-width: 1060px){
            font-size: 20px;
        }
        @media (max-width: 990px){
            font-size: 18px;
        }
        @media (max-width: 500px){
            font-size: 16px;
        }
    }
    &__position{
        font-weight: 400;
        font-size: 18px;
        color: #ffdd99;
        letter-spacing: 0.47px;
        @media (max-width: 1060px){
            font-size: 16px;
        }
        @media (max-width: 990px){
            font-size: 14px;
        }
        @media (max-width: 500px){
            font-size: 12px;
        }
    }
}

