.header{
    background: #87509c;
    height: 596px;
    @media (max-width: 840px){
        height: 570px;
    }
    @media (max-width: 550px){
        height: 520px;
    }
    @media (max-width: 380px){
        height: 490px;
    }
    &__container{
        margin: 0 auto;
    }
}

.container-header{
    max-width: 1100px;
    height: 100%;
    &__topline{
        padding: 55px 0 131px;
        @media (max-width: 550px){
            padding: 55px 0 0;
        }
    }
    &__bottomline{
        margin: 0;
    }
}

.topline-container-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 550px){
        flex-flow: column nowrap;
        align-items: center;
    }
    &__logo{
        margin-left: 42px;
        @media (max-width: 550px){
            margin-left: 0;
        }
    }
    &__menu{
        margin: 3px 8px 2px auto;
        @media (max-width: 550px){
            margin: 35px 0 2px;
            padding: 0 20px;
        }
    }
}

.bottomline-container-header{
    display: flex;
    flex-flow: column nowrap;
    &__title{
        padding: 0 20px;
        margin: 0 auto;
    }
}

.menu-topline-container-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    :nth-child(5){
        margin-right: 0;
    }
    &__item{
        text-decoration: none;
        margin-right: 10px;
        font-weight: 400;
        font-size: 16px;
        padding: 10px 17px 9px;
        color: #eeebf0;
        @media (max-width: 700px){
            padding: 10px 10px 9px; 
        }
        @media (max-width: 600px){
            font-size: 14px;
        }
        @media (max-width: 380px){
            padding: 10px 5px 9px;
            font-size: 13px;
        }
        &:hover{
            border-radius: 3px;
            background: #643a79;
        }
    }
}

.title-bottomline-container-header{
    &__format{
        font-weight: 700;
        font-size: 42.16px;
        color: #f7f3ea;
        text-align: center;
        line-height: 1.17;
        white-space: pre-wrap;
        @media (max-width: 840px){
            font-size: 36px;
        }
        @media (max-width: 600px){
            font-size: 32px;
        }
        @media (max-width: 550px){
            margin: 35px 0 2px;
            font-size: 28px;
        }
        @media (max-width: 380px){
            font-size: 24px;
        }
    }
}

.button-bottomline-container-header{
    padding: 21px 0 19px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 3px;
    background: #eb7d4b;
    box-shadow: 0 4px 0 #c86a40;
    text-align: center;
    width: 293px;
    margin: 54px auto 0;
    color: #fff;
    letter-spacing: 0.4px;
    &:hover{
        background: #c86a40;
    }
    @media (max-width: 840px){
        font-size: 16px;
        width: 250px;
        padding: 18px 0 17px;
    }
    @media (max-width: 550px){
        margin: 63px auto 0;
        width: 230px;
        padding: 15px 0 14px;
    }
    @media (max-width: 380px){
        width: 170px;
        padding: 12px 0 11px;
        font-size: 14px;
    }
}