.portfolio{
    background: #ffdd99;
    height: 1423px;
    @media (max-width: 1095px){
        height: 1230px;
    }
    @media (max-width: 899px){
        height: 1870px;
    }
    @media (max-width: 660px){
        height: 1830px;
    }
    @media (max-width: 500px){
        height: 1490px;
    }
    &__container{
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
    }
    &__header{
        display: flex;
        flex-flow: column nowrap;
    }
    &__title{
        margin: 0 auto;
        padding: 107px 20px 0;
		letter-spacing: 4px;
        text-align: center;
        @media (max-width: 380px){
            padding: 80px 20px 0;
        }
    }
    &__separator{
        margin: 5px auto 18px;   
    }
    &__subtitle{
        padding: 0 20px;
        margin: 0 auto;
		text-align: center;
		letter-spacing: 0.4px;
    }
    &__navigation{
        margin: 38px auto 62px;
        @media (max-width: 430px){
            padding: 0 20px;
        }
        :nth-child(4){
            margin-right: 0px;
        }
    }
    &__table{
        margin: 0;
    }
    &__button{
        margin: 77px auto 0;
    }
}

.navigation-portfolio{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &__link{
        text-decoration: none;
        margin-right: 10px;
        font-weight: 400;
        font-size: 18px;
        background: #ebc985;
        border-radius: 3px;
        color: #393939;
        @media (max-width: 430px){
            font-size: 14px;
        }
        &:hover{
            background: #ffffff;
        }
        &_all{
            padding: 6px 27px;
            @media (max-width: 430px){
                padding: 3px 13px;
            }
        }
        &_web{
            padding: 6px 22px 6px 25px;
            @media (max-width: 430px){
                padding: 3px 13px;
            }
        }
        &_apps{
            padding: 6px 23px 6px 24px;
            @media (max-width: 430px){
                padding: 3px 13px;
            }
        }
        &_icons{
            padding: 6px 21px;
            @media (max-width: 430px){
                padding: 3px 13px;
            }
        }
    } 
}

.table{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @media (max-width: 1095px){
        padding: 0 50px;
        justify-content: space-around;
    }
    @media (max-width: 500px){
        padding: 0 20px;
    }
    &__element{
        margin: 0;
    }
}

.element{
    width: 540px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @media (max-width: 1095px){
        width: 400px;
    }
    @media (max-width: 500px){
        width: 260px;
    }
    img{
        @media (max-width: 1095px){
            width: 367px;
            height: 210px;
        }
        @media (max-width: 500px){
            width: 249px;
            height: 142px;
        }
    }
    span{
        font-weight: 400;
        font-size: 18px;
        color: #393939;
        @media (max-width: 500px){
            font-size: 14px;
        }
    }
    &_1{
        margin-bottom: 60px;
        :nth-child(2){
            padding: 25px 0 0;
            margin: 0 123px 0 131px;
            letter-spacing: 0.33px;
            @media (max-width: 1095px){
                margin: 0 auto;
            }
        }
    }
    &_2{
        margin-bottom: 60px;
        :nth-child(2){
            padding: 25px 0 0;
            margin: 0 196px 0 194px;
            letter-spacing: 0.45px;
            @media (max-width: 1095px){
                margin: 0 auto;
            }
        }
    }
    &_3{
        @media (max-width: 899px){
            margin-bottom: 60px;
        }
        :nth-child(2){
            padding: 22px 0 0;
            margin: 0 178px 0 165px;
            letter-spacing: 0.4px;
            @media (max-width: 1095px){
                margin: 0 auto;
            }
        }
    }
    &_4{
        :nth-child(2){
            padding: 22px 0 0;
            margin: 0 139px 0 161px;
            letter-spacing: 0.33px;
            @media (max-width: 1095px){
                margin: 0 auto;
            }
        }
    }
}

.button-portfolio{
    padding: 21px 0 19px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 3px;
    background: #17c2a4;
    box-shadow: 0 4px 0 #14a58c;
    text-align: center;
    width: 293px;
    color: #fff;
    letter-spacing: 0.4px;
    &:hover{
        background: #14a58c;
    }
    @media (max-width: 840px){
        font-size: 16px;
        width: 250px;
        padding: 18px 0 17px;
    }
    @media (max-width: 550px){
        margin: 63px auto 0;
        width: 230px;
        padding: 15px 0 14px;
    }
    @media (max-width: 380px){
        width: 170px;
        padding: 12px 0 11px;
        font-size: 14px;
    }
}