.resources{
    background: #344b8e;
    height: 112px;
    &__container{
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
    }
    &__catalog{
        padding: 0 81px;
        @media (max-width: 910px){
            padding: 0 30px;
        }
        @media (max-width: 500px){
            padding: 0 20px;
        }
    }
}

.catalog{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 620px){
        flex-flow: row wrap;
        justify-content: center;
    }
    @media (max-width: 405px){
        justify-content: space-around;
    }
    &__item{
        text-decoration: none;
        letter-spacing: 0.6px;
        font-weight: 600;
        font-size: 24px;
        color: #ffffff;
        @media (max-width: 800px){
            font-size: 20px;
        }
        @media (max-width: 680px){
            font-size: 18px;
        }
        @media (max-width: 620px){
            margin: 0 22px;   
        }
        @media (max-width: 502px){
            margin: 0 12px;
        }
        @media (max-width: 405px){
            margin: 0;
            border-radius: 50%;
        }
        &:hover{
            color: #30bae7;
        }
        span{
            @media (max-width: 405px){
                display: none;
            }
        }
        img{
            width: 30px;
            height: 30px;
            display: none;
            border-radius: 50%;
            @media (max-width: 405px){
                display: inherit;
            }
            @media (max-width: 350px){
                width: 27px;
                height: 27px;
            }
        }
    }
}