.services{
    background: #17c2a4;
    height: 747px;
    @media (max-width: 900px){
        height: 740px;
    }
    @media (max-width: 800px){
        height: 1040px;
    }
    @media (max-width: 539px){
        height: 1680px;
    }
    @media (max-width: 380px){
        height: 1550px;
    }
    &__container{
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
    }
    &__header{
        display: flex;
        flex-flow: column nowrap;
    }
    &__title{
        margin: 0 auto;
        padding: 107px 20px 0;
		letter-spacing: 4px;
        text-align: center;
        @media (max-width: 380px){
            padding: 80px 20px 0;
        }
    }
    &__separator{
        margin: 5px auto 18px;
    }
    &__subtitle{
        padding: 0 20px;
        margin: 0 auto;
		text-align: center;
		letter-spacing: 0.4px;
    }
    &__menu{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; 
        margin: 79px 0 0;
        @media (max-width: 1070px){
            padding: 0 20px;
        }
        @media (max-width: 800px){
            padding: 0 50px;
            justify-content: space-around;
        }  
    }
    &__item{ 
        margin: 0;
    }
}

.title{
    font-weight: 700;
	&_color{
        &_white{
            color: #ffffff;
		}
		&_dark-blue{
			color: #3c4761;
		}
		&_dark-black{
			color: #393939;
		}
	}
	&_fs{
        &_forty-px{
            font-size: 40px;
            @media (max-width: 660px){
                font-size: 32px;
            }
            @media (max-width: 555px){
                font-size: 28px;
            }
            @media (max-width: 420px){
                font-size: 24px;
            }
		}
		&_forty-plus-px{
			font-size: 41.29px;
            @media (max-width: 660px){
                font-size: 32px;
            }
            @media (max-width: 555px){
                font-size: 28px;
            }
            @media (max-width: 480px){
                font-size: 24px;
            }    
		} 
	}  
}

.separator{
    width: 87px;
    height: 4px;
	&_color{
        &_dark-cyan{
			background: #14a58c;
		}
		&_gray{
			background: #c8d9e5;
		}
		&_light-gray{
			background: #dfe8ed;
		}
		&_sand{
			background: #e5c37f;
		}
        &_dark-pink{
			background: #b73c6d;
		}
        &_dark-blue{
			background: #273a71;
		}
	}
}

.subtitle{
    &_color{
        &_white{
			color: #ffffff;
		}
		&_dark-blue{
			color: #5d677b;
		}
		&_light-black{
			color: #3c4761;
		}
		&_dark-black{
			color: #393939;
		}
	}
	&_fs{
		&_eighteen-px{
			font-size: 18px;
            @media (max-width: 660px){
                font-size: 16px;
            } 
		}
		&_eighteen-plus-px{
			font-size: 18.58px;
            @media (max-width: 660px){
                font-size: 16px;
            }
		}
	}
    pre{
        font-weight: 400;
        white-space: pre-wrap;
    }
}

.item-services{
    width: 260px;
    display: flex;
    flex-flow: column nowrap;
    @media (max-width: 1070px){
        width: 200px;
    }
    @media (max-width: 900px){
        width: 180px;
    }
    @media (max-width: 800px){
        width: 250px;
    }
    @media (max-width: 610px){
        width: 220px;
    }
    &_1{
        @media (max-width: 800px){
            margin-bottom: 70px;
        }
    }
    &_2{
        @media (max-width: 800px){
            margin-bottom: 70px;
        }
    }
    &_3{
        @media (max-width: 539px){
            margin-bottom: 70px;
        }
    }
    &_4{
        
    }
    &__logo{
        text-align: center;
        img{
            height: 124px;
            @media (max-width: 380px){
                height: 90px;
            }
        }
    }
    &__name{
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        color: #ffffff;
        margin: 47px 0 13px;
		letter-spacing: 0.5px;
        @media (max-width: 900px){
            font-size: 22px;
        }
        @media (max-width: 800px){
            margin: 20px 0 13px;
        }
    }
    &__description{
        text-align: center;
		letter-spacing: 0.2px;
        pre{
            font-weight: 300;
            font-size: 16px;
            color: #ffffff;
            @media (max-width: 900px){
                font-size: 14px;
            }
        }
    }
}