.skills{
    background: #ffffff;
    height: 655px;
    @media (max-width: 920px){
        height: 930px;
    }
    @media (max-width: 650px){
        height: 840px;
    }
    @media (max-width: 539px){
        height: 1370px;
    }
    &__container{
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
    }
    &__header{
        display: flex;
        flex-flow: column nowrap;
    }
    &__title{
        margin: 0 auto;
        padding: 104px 20px 0;
		letter-spacing: 4px;
        text-align: center;
        @media (max-width: 380px){
            padding: 80px 20px 0;
        }
    }
    &__separator{
        margin: 5px auto 18px;   
    }
    &__subtitle{
        padding: 0 20px;
        margin: 0 auto;
		text-align: center;
		letter-spacing: 0.4px;
    }
    &__components{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 79px 0 0;
        @media (max-width: 1070px){
            padding: 0 20px;
        }
        @media (max-width: 920px){
            padding: 0 50px;
            justify-content: space-around;
        }
    }
    &__elem{
        margin: 0;
    }
}

.elem-skills{
    width: 260px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @media (max-width: 1070px){
        width: 220px;
    }
    @media (max-width: 920px){
        width: 275px;
    }
    @media (max-width: 650px){
        width: 220px;
    }
    &_1{
        @media (max-width: 920px){
            margin-bottom: 70px;
        }
    }
    &_2{
        @media (max-width: 920px){
            margin-bottom: 70px;
        }
    }
    &_3{
        @media (max-width: 540px){
            margin-bottom: 70px;
        }
    }
    &_4{
        
    }
    &__progressbar{
        margin: 0 auto;
    }
    &__title{
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: #3c4761;
        margin: 24px 0 0;
        letter-spacing: 0.3px;
        @media (max-width: 650px){
            font-size: 20px;
        }
    }
}

.progressbar{
    width: 160px;
    height: 160px;
    @media (max-width: 650px){
        width: 130px;
        height: 130px;
    }
}

.progressbar-text{
    font-size: 50px;
    font-weight: 300;
    color: #3c4761 !important;
    @media (max-width: 650px){
        font-size: 40px;
    }
}

.percent{
    font-size: 32px;
    font-weight: 300;
    @media (max-width: 650px){
        font-size: 24px;
    }
}