.team{
    background: #e7f1f8;
    height: 915px;
    @media (max-width: 905px){
        height: 1360px;
    }
    @media (max-width: 680px){
        height: 1200px;
    }
    @media (max-width: 539px){
        height: 2030px;
    }
    &__container{
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
    }
    &__header{
        display: flex;
        flex-flow: column nowrap;
    }
    &__title{
        margin: 0 auto;
        padding: 106px 20px 0;
		letter-spacing: 3.3px;
        text-align: center;
        @media (max-width: 380px){
            padding: 80px 20px 0;
        }
    }
    &__separator{
        margin: 5px auto 20px;
    }
    &__subtitle{
        padding: 0 20px;
        margin: 0 auto;
		text-align: center;
		letter-spacing: 0.15px;
    }
    &__list{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 76px 0 0;
        @media (max-width: 1070px){
            padding: 0 20px;
        }
        @media (max-width: 905px){
            padding: 0 50px;
            justify-content: space-around;
        } 
    }
    &__person{
        margin: 0;
    }
}

.person-team{
    width: 260px;
    display: flex;
    flex-flow: column nowrap;
    @media (max-width: 1070px){
        width: 200px;
    }
    @media (max-width: 905px){
        width: 290px;
    }
    @media (max-width: 680px){
        width: 220px;
    }
    &_1{
        @media (max-width: 905px){
            margin-bottom: 70px;
        }
    }
    &_2{
        @media (max-width: 905px){
            margin-bottom: 70px;
        }
    }
    &_3{
        @media (max-width: 640px){
            margin-bottom: 70px;
        }
    }
    &_4{
        
    }
    &__logo{
        text-align: center;
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        @media (max-width: 680px){
            line-height: 0;
            img{
                width: 150px;
                height: 150px;
            }
        }
    }
    &__name{
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        color: #27283d;
        margin: 25px 0 1px;
		letter-spacing: 0.5px;
        @media (max-width: 905px){
            font-size: 22px;
            margin: 10px 0 1px;
        }
        @media (max-width: 680px){
            font-size: 20px;
            margin: 8px 0 2px;
        }
    }
    &__position{
		letter-spacing: 0.5px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color: #30bae7;
        @media (max-width: 905px){
            font-size: 14px;
        }
        @media (max-width: 680px){
            font-size: 12px;
        }
    }
    &__description{
        text-align: center;
        margin: 19px 0 27px;
        @media (max-width: 905px){
            margin: 11px 0 19px;
        }
        @media (max-width: 680px){
            font-size: 12px;
            margin: 2px 0 10px;
        }
        pre{
            font-weight: 300;
            font-size: 16px;
            color: #4d586f;
            @media (max-width: 905px){
                font-size: 14px; 
            }
        }
    }
    &__social-networks{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        a{
            line-height: 0;
            text-decoration: none;
            border-radius: 50%;
            img{
                border-radius: 50%;
                @media (max-width: 680px){
                    width: 25px;
                    height: 25px;
                }
            }
        }
        :nth-child(2){
            margin: 0 12px;
        }
        :nth-child(4){
            margin: 0 0 0 12px;
        }
    }
}