.touch{
    background: #3c5499;
    height: 819px;
    @media (max-width: 930px){
        height: 910px;
    }
    @media (max-width: 500px){
        height: 850px;
    }
    &__container{
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
    }
    &__header{
        display: flex;
        flex-flow: column nowrap;
    }
    &__title{
        margin: 0 auto;
        padding: 106px 20px 0;
		letter-spacing: 4px;
        text-align: center;
        @media (max-width: 380px){
            padding: 80px 20px 0;
        }
    }
    &__separator{
        margin: 5px auto 18px;   
    }
    &__subtitle{
        padding: 0 20px;
        margin: 0 auto;
		text-align: center;
		letter-spacing: 0.43px;
    }
    &__form{
        margin: 0;
    }
}

form{
    max-width: 860px;
    margin: 74px auto 0;
}
.form{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    @media (max-width: 930px){
        padding: 0 30px;
    }
    &__top-block{
        line-height: 0;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        @media (max-width: 930px){
            flex-flow: column nowrap;
            align-items: stretch;
        } 
    }
    &__name{
        position: relative;
        @media (max-width: 930px){
            margin-bottom: 27px;
        }
    }
    &__email{
        position: relative;
    }
    &__field-name,
    &__field-email{
        width: 414px;
        height: 56px;
        padding: 15px 26px 14px;
        border-radius: 3px;
        border: none;
        background: #273a71;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
        outline: none;
        @media (max-width: 930px){
            width: 100%;
        }
        @media (max-width: 700px){
            font-size: 16px;
        }
        @media (max-width: 500px){
            font-size: 14px;
        }
        &::placeholder{
            color: #ffffff;
        }
    }
    &__bottom-block{
        margin: 27px 0 58px;
        width: 100%;
        line-height: 0;
    }
    &__message{
        position: relative;
    }
    &__field-message{
        width: 100%;
        height: 200px;
        padding: 17px 26px 17px;
        border-radius: 3px;
        border: none;
        background: #273a71;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
        resize: vertical;
        outline: none;
        @media (max-width: 700px){
            font-size: 16px;
        }
        @media (max-width: 500px){
            font-size: 14px;
        }
        &::placeholder{
            color: #ffffff;
        }
    }
    &__send{  
        margin: 0;
    } 
}

.send{
    display: flex;
    justify-content: center;
}

.button-send{
    padding: 21px 0 19px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 3px;
    background: #30bae7;
    box-shadow: 0 4px 0 #299ec5;
    text-align: center;
    width: 293px;
    color: #fff;
    letter-spacing: 0;
    @media (max-width: 840px){
        font-size: 16px;
        width: 250px;
        padding: 18px 0 17px;
    }
    @media (max-width: 550px){
        width: 230px;
        padding: 15px 0 14px;
    }
    @media (max-width: 380px){
        width: 170px;
        padding: 12px 0 11px;
        font-size: 14px;
    }
    &:hover{
        background: #299ec5;
    }
}

.red-star{
    position: absolute;
    color: #ff4444;
    
    &.hide{
        display: none;
    }
    
    &_name{
        top: 28px;
        left: 113px;
        @media (max-width: 700px){
            top: 27px;
            left: 102px;
        }
        @media (max-width: 500px){
            top: 26px;
            left: 93px;
        }
    }
    &_email{
        top: 28px;
        left: 110px;
        @media (max-width: 700px){
            top: 27px;
            left: 100px;
        }
        @media (max-width: 500px){
            top: 26px;
            left: 91px;
        }
    }
    &_message{
        top: 30px;
        left: 136px;
        @media (max-width: 700px){
            top: 30px;
            left: 123px;
        }
        @media (max-width: 500px){
            top: 27px;
            left: 111px;
        }
    }
}
