*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Titillium Web';
}

pre{
    font-family: 'Titillium Web';
}

input,
textarea{
    font-family: 'Titillium Web';
}