@font-face {
  font-family: 'TitilliumWeb';
  src: url("../fonts/TitilliumWeb/TitilliumWeb-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display:swap
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url("../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display:swap
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url("../fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display:swap
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url("../fonts/TitilliumWeb/TitilliumWeb-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display:swap
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url("../fonts/TitilliumWeb/TitilliumWeb-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display:swap
}

